@import "tailwindcss";

:root {
  --background: #ecf2f9; /* Updated default body background to your mentor's color */
  --background-hover: #f3f4f6;
  --foreground: #171717;
  --text: #111111;
  --active-bg: #1f2a37;
  --active-track: #eff2f4;
  --active-text: #ffffff;
  --link-text: #2563eb;
  --primary: #2563eb;
  --card-title: #1f2a37;
  --card: #ffffff;
  --card-hover: #fafafa;
  --table-card: #ebf5ff;
  --table-card-hover: #c3ddfd;
  --info-card: #ebf5ff;
  --info-title: #1c64f2;
  --info-text: #111928;
  --info-icon-bg: #c3ddfd;
  --danger-card: #fef2f2;
  --danger-title: #991b1b;
  --danger-text: #b91c1c;
  --danger-icon-bg: #fca5a5;
  --warning-card: #fffbeb;
  --warning-title: #92400e;
  --warning-text: #b45309;
  --warning-icon-bg: #fcd34d;
  --graph-col-1: #1c64f2;
  --graph-col-2: #c3ddfd;
  --graph-col-3: #dfe5ee;
  --button: #1a56db;
  --button-text: #ffffff;
  --lab-timeline-bg: #def7ec;
  --lab-timeline-text: #0e9f6e;
  --badge-bg: #ee0022;
  --badge-text: #ffffff;
  --danger-button: #ee0022;
  --danger-button-text: #ffffff;

  --shade: #637381;
  --shade-text: #2e3440;
  --shade-hover: #f3f4f6;
  --border: #ccc;
  --checker: #1a56db;
}

.dark {
  --background: #14151a;
  --background-hover: #1a1d22;
  --foreground: #ebebeb;
  --text: #f2f2f2;
  --active-bg: #1e2935;
  --active-track: #15181d;
  --active-text: #6695f2;
  --link-text: #6695f2;
  --primary: #1a56db;
  --card-title: #f1f1f1;
  --card: #1a1d22;
  --card-hover: #2a323a;
  --table-card: #15181d;
  --table-card-hover: #2a323a;
  --info-card: #21242b;
  --info-title: #4580f2;
  --info-text: #637381;
  --info-icon-bg: #263145;
  --danger-card: #371819;
  --danger-title: #e35150;
  --danger-text: #e35150;
  --danger-icon-bg: #e35150;
  --warning-card: #433a19;
  --warning-title: #fcd34d;
  --warning-text: #fcd34d;
  --warning-icon-bg: #fcd34d;
  --graph-col-1: #4580f2;
  --graph-col-2: #1e3650;
  --graph-col-3: #2d3037;
  --button: #1a56db;
  --button-text: #ffffff;
  --lab-timeline-bg: #def7ec;
  --lab-timeline-text: #0e9f6e;
  --badge-bg: #ee0022;
  --badge-text: #ffffff;
  --danger-button: #ee0022;
  --danger-button-text: #ffffff;

  --shade: #707c86;
  --shade-text: #e1e1e1;
  --shade-hover: #c4c4c4;
  --border: #3f4348;
  --checker: #c6d5f7;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Global Custom Scrollbar Utility */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #93c5fd #f8fafc;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f8fafc;
  border-radius: 9999px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #93c5fd;
  border-radius: 9999px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3b82f6;
}
